.signupdoctor {
    position: absolute;

    width: 100%;
    max-width: 850px;
    height: 100%;
    max-height: 800px;
    padding: 0 50px 0 50px;
    margin-top: 15px;
    left: 50%;
    transform: translate(-50%, 0);
    border-radius: 7px;
    background-color: white;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    color: #262626;
    font-weight: 500;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);

    display: flex;
    flex-direction: column;
    align-items: center;
}

.titledp {
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: 25px;
    align-self: flex-start;
}

.welcomedp {
    font-size: 18px;
    margin-left: 2px;
}

.signupdp {
    font-size: 52px;
    font-weight: 600;
}

.formgriddp {
    margin: 0 auto;
    display: flex;
    gap: 40px;
    justify-content: center;
    width: 100%;
    max-width: 800px;
    height: 100%;
    max-height: 535px;
}

.formcolumndp {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 15px;

}

.row {
    display: flex;
    gap: 20px;
}

.gender-row-dp {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-top: 10px;
}

.gender-label-dp {
    font-size: 18px;
}

.gender-buttons-dp {
    display: flex;
    gap: 6px;
    margin-top: 6.5px;
}

.input-wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    margin-bottom: 1px;
}

.input-label {
    font-size: 18px;
    margin-bottom: 4px;
    color: #212529;
}

.file-upload-label {
    border: 1px solid #ADADAD;
    background-color: white;
    color: #adb5bd;
    padding: 6.5px 0;
    padding-left: 18px;
    padding-right: 10px;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: border-color 0.2s;
}

.file-upload-label:hover {
    border-color: #ced4da;
}

.placeholder-text {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    flex-grow: 1;
    font-weight: normal;
    line-height: 1.5;
    font-size: 16px;
}

.upload-icon {
    width: 33px;
    height: 33px;
    margin-left: 0.8rem;
}

.signupDoctorError {
    min-height: 30px;
    color: red;

    margin-top: 6px;
    margin-bottom: 8px;
    text-align: center;
    font-weight: 600;
}

.error-text {
    font-size: 17px !important;
}

.signupbtndt {
    margin-bottom: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
}